[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "1.24.4"
pandas = "2.0.3"
jupyter = "*"
ipykernel = "*"

[dev-packages]

[requires]
python_full_version = "3.8.13"
